@{
    ViewData["Title"] = "Home Page";
}


<ul class="list-group">
    <li class="list-group-item">
        <img class="img-fluid" src="~/images/python-logo@2x.png" alt="Alternate Text" />
        <h5>Python</h5>
        <p>
            Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum...
        </p>
        <a href="#" class="btn btn-primary">Quero</a>
    </li>
    <li class="list-group-item">
        <img class="img-fluid" src="~/images/javascript-logo.jpg" alt="Alternate Text" />
        <h5>JavaScript</h5>
        <p>
            JavaScript, often abbreviated as JS, is a high-level, dynamic, weakly typed, prototype-based, multi-paradigm, and interpreted programming language.
        </p>
        <a href="#" class="btn btn-primary">Quero</a>
    </li>
    <li class="list-group-item">
        <img class="img-fluid" src="~/images/design-think-logo.png" alt="Alternate Text" />
        <h5>Design thinking</h5>
        <p>
            Design thinking refers to creative strategies designers use during the process of designing. It is also an approach to resolve issues outside of professional design practice, such as in business and social contexts.
        </p>
        <a href="#" class="btn btn-primary">Quero</a>
    </li>
</ul>